<div class="big-container">
    <div class="container" style="margin-top: 20px;">
        <div style="font-size: 25px; font-weight: bold;position: relative;text-align: center;padding-bottom: 5px;padding-top: 10px;">Patient Details</div>
        <table>
            <tr>
              <td>Name : Saurav </td>
              <td>Age : 27</td>
            </tr>
            <tr>
              <td>Blood Group : O+</td>
              <td>Weight : 57</td>
            </tr>
            <tr>
                <td>Height : 5'7</td>
              </tr>
              <tr>
                <td>Address : Bangalore</td>
              </tr>
          </table>
    </div>
    <br>
    
    <div class="patientInfo">
        <div>
            <p>Symptoms</p>
            <input type="text-area">
        </div>

        <div>
            <p>Disease</p>
            <input type="text-area">
        </div>

        <div>
            <div>
                <p>Medicine</p>
                <input type="text-area">
            </div>
            <div>
                <p>Dose : </p>
                <p> Drop Down Box</p>
            </div>
        </div>
        <div>
            <p>Discription</p>
            <input type="text-area">
        </div>

    </div>
</div>